* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-title-border-color-yellow: #746615;
  --card-color-primary-yellow: #f7dd43;
  --card-bg-color-yellow: #1d1c19;

  --card-title-border-color-blue: #338af3;
  --card-color-primary-blue: #338af3;
  --card-bg-color-blue: #202024;

  --card-title-border-color-green: green;
  --card-color-primary-green: green;
  --card-bg-color-green: rgba(26, 31, 27, 1);
}

body {
  background-image: url(assets/bg-blue.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  width: fit-content;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;

  padding: 30px;
}

header img {
  width: 300px;
}

main {
  display: flex;
  justify-content: center;
  gap: 32px;

  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px 23px;

  text-align: center;

  background: var(--card-bg-color-yellow);
  border-radius: 6px;
  border-bottom: 2px solid green;
}

.card h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  width: fit-content;
  margin-bottom: 24px;

  padding: 8px 16px;

  border-radius: 6px;
  border: 2px solid red;

  color: #F7DD43;
}

.card img {
  width: 50px;
  height: 50px;
}

.card ul {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.card li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  padding-top: 24px;

  list-style: none;
}

.card li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;

  color: #E1E1E6;
}

.card ul li + li {
  margin-top: 24px;
  border-top: 1px solid #323238;
}